
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
UPDATE_TIMEOUT =

REDIS_HOST=redis
REDIS_PORT=6379

BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND: redis://redis:6379/0


GSAPI_ID =
GSAPI_SERVICE_KEY = '{
  "type": "service_account",
  "project_id":  "",
  "private_key_id": "",
  "private_key": ""
  "client_email": "",
  "client_id": "",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": ""
}
'